* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: pixel;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

@font-face {
  font-family: pixel; /* set name */
  src: url(public/fonts/pixel_new.ttf); /* url of the font */
}

:root {
    --background: #010c12;
    --green-1: #12FF5D;
    --green-2: #0EC23B;
    --green-3: #087b27;
    --white-1: #d2f3dc;
    --white-2: #4dcc75;
}

body {
    overflow: hidden;
}

.desktop {
    background: url(public/images/wallpaper.png);
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    background-position-y: top;
}

.unselectable {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.window {
    width: 400px;
    height: 400px;
    position: absolute;
    border: 2px solid var(--green-3);
    background-color: var(--background);
}

.window-title {
    width: 100%;
    background-color: var(--green-2);
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    border-bottom: 2px solid var(--green-3);
}

.window-close-button {
    border: none;
    color: white;
    background-color: var(--white-1);
    border: 2px solid var(--white-2);
    color: var(--white-2);
    width: 32px;
    height: 32px;
    cursor: pointer;
    text-align: center;
}

.window-close-button::after {
  position: relative;
  top: -27%;
  left: 5%;
  content: "x"; /* This will render the 'X' */
}

.taskbar {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 999;
    width: 100vw;
    background-color: var(--green-2);
    height: 60px;
}