/* TERMINAL STYLING */
body {
    overflow: scroll;
}

* {
    font-size: 0.8rem;
}

.current-line {
    display: flex;
}

.current-line-span {
    color: var(--green-500);
    margin-right: 10px;
}

.current-line-input {
    background-color: transparent;
    border: none;
    width: fit-content;
    flex: 1;
}